@{
    ViewData["Title"] = "Privacy Policy";
}
@model databased_vs.Models.User

<h1>@ViewData["Title"]</h1>

<p>The following user was added to the database</p>

<ul>
  <li>@Model.Name</li>
  <li>@Model.Email</li>
  <li>@Model.Password</li>
</ul>
