<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Stonks.fi</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/restingapi.styles.css" asp-append-version="true" />
  <!-- Tailwindcss -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-neutral-100 min-h-screen flex flex-col justify-between">
  <header>
    <nav class="bg-neutral-50 shadow-md flex justify-center items-center py-4 px-5">
      <div class="w-full text-center">
        <p class="font-bold text-4xl text-neutral-950">Stonks.fi</p>
        <p class="opacity-50">Your one stop shop for all things Stonky</p>
      </div>
    </nav>
  </header>
    <div class="py-10 min-h-[82svh]">
    <main role="main" class="pb-3 container mx-auto">
      @RenderBody()
    </main>
  </div>

  <footer class="bg-neutral-50 p-5 text-center shadow-xl">
    <div class="container mx-auto">
      &copy; 2024 - Stonks.fi
    </div>
  </footer>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
