@{
	int newMoney = (int)Model;
}

<h1>New money is @(newMoney > 0 ? newMoney : "EI rahaa lmao")</h1>
<img src="https://images.almatalent.fi/cx0,cy236,cw2048,ch1152,696x/https://assets.almatalent.fi/image/608aa871-acdc-5b28-be9c-e816a7d93c47" alt="Alternate Text" />
