<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - workorder</title>
  <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/workorder.styles.css" asp-append-version="true" />
  @await RenderSectionAsync("Styles", required: false)
</head>

<body class="bg-neutral-100 text-primary">
  <header>
    <nav class="flex justify-between px-5 py-2 border-primary border-b-2">
      <div class="flex gap-x-6 items-center">
        <a href="/" class="flex items-center gap-3">
          <img src="~/images/jadeworks-logo.webp" alt="" width="60" height="60">
          <p class="uppercase font-extrabold text-primary">Jadework</p>
        </a>
        <p>Suunittelu</p>
        <p><a asp-area="" asp-controller="Work" asp-action="Index">Työmääräimet</a></p>
        <p>Asiakkaat</p>
        <p>Hallinta</p>
      </div>
      <div class="flex gap-x-6 items-center">
        <p>Käyttäjä</p>
        <p>Viestit</p>
        <p>Asetukset</p>
      </div>
    </nav>
  </header>
  <main role="main" class="pb-3">
    @RenderBody()
  </main>

  <footer class="border-primary border-t-2 footer">
    <div class="container mx-auto px-5 opacity-75">
      &copy; 2024 - Jadework - <a asp-area="" asp-controller="Work" asp-action="Index">Työmääräimet</a>
    </div>
  </footer>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
