@model helloworld.Models.WorkOrderModel // gives type to the context's model
@using helloworld.Models.Utils
@using helloworld.Models

@{
    ViewData["title"] = "Working";
}

<h1>Hello From Moneys</h1>
<p>@Model.Customer.BusinessName</p>