@using financeapp.Models.ViewModels
@model NewExpenseViewModel

<form id="add_expense" asp-controller="Finances" asp-action="Add" method="post"
  class="absolute inset-0 m-auto bg-stone-800 p-4 rounded-lg shadow-lg w-full max-w-sm h-max
  flex-col justify-center items-center gap-2 hidden text-stone-100
  [&>input]:py-2 [&>input]:px-4 [&>input]:border [&>input]:border-stone-700 [&>input]:w-full [&>input]:bg-transparent [&>input]:rounded-md">
  <input type="text" asp-for="Title" placeholder="Title">
  <input type="text" asp-for="Description" placeholder="Description">
  <input type="text" asp-for="Category" placeholder="Category">
  <input type="text" asp-for="Icon" placeholder="Icon">
  <input type="text" asp-for="Amount" name="Amount">
  <input type="checkbox" asp-for="IsExpense" name="IsExpense" hidden checked>
  <button type="submit" class="w-full bg-primary py-2 px-4">Add a new expense</button>
  <div class="error"></div>
</form>
