@using financeapp.Models.ViewModels;
@model DashboardViewModel

<section class="grid px-5 gap-8 sm:px-10 lg:grid-cols-3">
  <div class="grid grid-rows-3 lg:col-span-2">
    <div class="flex flex-col relative row-span-2">
      <canvas id="pie-chart" class="w-full my-auto"></canvas>
      <div class="inset-0 m-auto absolute h-max w-max text-center">
        <p>Total Expenses:</p>
        <p id="total_expenses" class="font-bold text-4xl">Loading total</p>
      </div>
    </div>
    <partial name="_TopCategories" model="@Model"></partial>
  </div>
  <div class="w-full space-y-4">
    <div>
      <button id="add_expense_btn" class="w-full bg-primary py-2 px-4 rounded-xl">Add a new expense</button>
      <button id="add_income_btn" class="w-full py-2 px-4 rounded-xl">Add a new income</button>
    </div>
    <div id="finances"></div>
  </div>
</section>

@await Html.PartialAsync("_AddExpense", new financeapp.Models.ViewModels.NewExpenseViewModel())

@section Scripts {
<script src="~/js/dashboard.js" type="module" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/piechart.js" type="module" defer></script>
}

<style>
  #finances>div {
    scrollbar-color: currentColor transparent;
    scrollbar-width: thin;
  }
</style>
