<section class="max-w-lg mx-auto outline outline-2 outline-stone-600 p-4 rounded-xl 
  text-center space-y-4">
  <div class="information">
    <h1>You are not logged in</h1>
    <p>please <a href="/login" class="text-primary-500">Login</a> to see your dashboard</p>
  </div>
  <div class="flex flex-col gap-2">
    <a asp-controller="Login" asp-action="Index" class="w-full px-4 py-2 bg-gradient-to-r from-primary to-violet-700 
      text-center rounded-md motion-safe:transition-all hover:brightness-125">login</a>
    <a asp-controller="Login" asp-action="Register" class="w-full px-4 py-2 border-2 border-stone-600
      text-center rounded-md motion-safe:transition-all hover:bg-stone-600">Register</a>
  </div>
</section>
