@model financeapp.Models.ViewModels.LoginViewModel

<h1>Login</h1>

<form asp-controller="Login" asp-action="Index" method="post" >
  <div class="flex flex-col gap-2">
    <label asp-for="Username" class="font-bold">Username</label>
    <input asp-for="Username" placeholder="coolguy123"
      class="border-[1px] rounded-md py-2 px-4" />
    <span asp-validation-for="Username" class="px-4"></span>
  </div>

  <div class="flex flex-col gap-2">
    <label asp-for="Password" class="font-bold">Password</label>
    <input asp-for="Password" placeholder="********"
      class="border-[1px] rounded-md py-2 px-4" />
    <span asp-validation-for="Password" class="px-4"></span>
  </div>

  <span>@Html.ValidationMessage("validation")</span>
  <hr>

  <div class="grid grid-rows-2 gap-2">
    <button type="submit" class="py-2 px-4 bg-gradient-to-tr from-violet-600 to-purple-600 rounded-sm
        transition-all hover:brightness-125">Login</button>
    <button type="reset" class="py-2 px-4 border-violet-600 border rounded-sm
        transition-all hover:bg-violet-600">Clear</button>
  </div>
</form>
