@model financeapp.Models.ViewModels.LoginViewModel

<h1>Hello from the login View</h1>

<form asp-controller="Login" asp-action="Index" method="post" 
  class="bg-neutral-800 border-[1px] border-neutral-600 rounded-xl shadow-md px-8 py-12 
  max-w-lg mx-auto space-y-6">

  <div class="flex flex-col gap-2">
    <label asp-for="Username" class="font-bold">Username</label>
    <input asp-for="Username" placeholder="coolguy123"
      class="bg-neutral-800 border-[1px] border-neutral-500 rounded-md py-2 px-4" />
    <span asp-validation-for="Username" class="bg-violet-600 rounded-sm py-1 px-4"></span>
  </div>

  <div class="flex flex-col gap-2">
    <label asp-for="Password" class="font-bold">Password</label>
    <input asp-for="Password" placeholder="********"
      class="bg-neutral-800 border-[1px] border-neutral-500 rounded-md py-2 px-4" />
    <span asp-validation-for="Password" class="bg-violet-600 rounded-sm py-1 px-4"></span>
  </div>

  <span>@Html.ValidationMessage("validation")</span>
  <hr>

  <div class="grid grid-rows-2 gap-2">
    <button type="submit" class="py-2 px-4 bg-gradient-to-tr from-violet-600 to-purple-600 rounded-sm
        transition-all hover:brightness-125">Login</button>
    <button type="reset" class="py-2 px-4 border-violet-600 border rounded-sm
        transition-all hover:bg-violet-600">Clear</button>
  </div>
</form>
