<h1>I am the second counter</h1>
<p>Current count: @counter</p>
<button @onclick="IncrementCount">Increment</button>

@code {
	private int counter = 0;

	private void IncrementCount()
	{
		counter++;
	}
}