<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - financeapp</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/financeapp.styles.css" asp-append-version="true" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          gridTemplateColumns: {
            fluid: "repeat(auto-fit, minmax(20rem, 1fr))",
          },
          colors: {
            'primary': {
              '50': '#fffbeb',
              '100': '#fef3c7',
              '200': '#fde58a',
              '300': '#fbd24e',
              '400': '#fabe25',
              '500': '#f49d0c',
              '600': '#d87607',
              '700': '#bc560a',
              '800': '#923f0e',
              '900': '#78340f',
              '950': '#451a03',
              DEFAULT: '#d87607',
            },
          }
        }
      }
    }
  </script>
</head>

<body class="bg-stone-900 text-stone-100">
  <header>
    <nav class="flex gap-4 items-center py-4 px-5 sm:px-10">
      <a class="font-bold uppercase" asp-area="" asp-controller="Home" asp-action="Index">financeapp</a>
      <ul class="flex gap-4 justify-between w-full">
        <div class="flex gap-2">
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </li>
        </div>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
        </li>
        }
        else
        {
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
        </li>
        }
      </ul>
    </nav>
  </header>
  <main role="main" class="max-w-[1700px] w-full mx-auto pt-20 pb-40">
    @RenderBody()
  </main>

  <footer class="footer text-muted">
    <div class="container mx-auto">
      &copy; 2024 - financeapp - <a asp-area="" asp-controller="User" asp-action="Index">Users</a>
    </div>
  </footer>
  @await RenderSectionAsync("Functions", required: false)
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
