<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - financeapp</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/financeapp.styles.css" asp-append-version="true" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          gridTemplateColumns: {
            fluid: "repeat(auto-fit, minmax(20rem, 1fr))",
          },
          colors: {
            'primary': {
              '50': '#f5f3ff',
              '100': '#eeeafd',
              '200': '#dfd7fd',
              '300': '#c7b7fb',
              '400': '#ac8ff6',
              '500': '#9261f1',
              '600': '#7d37e6',
              '700': '#732ed3',
              '800': '#6026b1',
              '900': '#512191',
              '950': '#311362',
              DEFAULT: '#732ed3',
            },
          }
        }
      }
    }
  </script>
</head>

<body class="bg-stone-900 text-stone-100">
  <header>
    <nav class="flex gap-4 items-center p-4">
      <a class="font-bold uppercase" asp-area="" asp-controller="Home" asp-action="Index">financeapp</a>
      <ul class="flex gap-2">
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
        <li class="nav-item" style="margin-left:auto;">
          <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
        </li>
        }
        else
        {
        <li class="nav-item" style="margin-left:auto;">
          <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
        </li>
        }
      </ul>
    </nav>
  </header>
  <main role="main" class="container mx-auto">
    @RenderBody()
  </main>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2024 - financeapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  @await RenderSectionAsync("Functions", required: false)
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
