<section class="fixed w-full h-full top-0 left-0 hidden place-items-center p-8 z-40">
  <div id="modal" class="z-50 min-w-[750px] bg-secondary border-4 border-primary flex shadow-primary shadow-lg">
    <div class="grow">
      <div id="modal_header" class="flex items-center justify-between w-full px-8 py-5">
        <h2 class="text-4xl font-bold">Työntekijät</h2>
        <div class="text-end">
          <p id="modal_customer">Taurudesign Oy (421741721)</p>
          <p id="modal_id">ID:15751987</p>
        </div>
      </div>
      <div id="modal_content">

        <div id="modal_negative">
          <div class="bg-hylatty py-2 px-8 text-primary-50 font-bold text-xl flex justify-between">
            <p>Hylätty</p>
            <p>#</p>
          </div>
          <p class="py-4 px-8">
            Etunimi Sukunimi (Ohjaaja) | Timo T. Matta (TMA) | Seppo Suomalainen (Saha)
          </p>
        </div>

        <div id="modal_confirmed">
          <div class="bg-laskutettu py-2 px-8 text-primary-50 font-bold text-xl flex justify-between">
            <p>Vahvistettu</p>
            <p>#</p>
          </div>
          <p class="py-4 px-8">
            Toinen Esimerkki (Ohjaaja) | Simo Saattaja (Saatto) | Kai Vuo (Kaivo) | Etunimi sukunimi (Kaivo) | Esa-Pekka
            Lapio (Kaivo) | Sara Sahaaja (Saha) | Etunimi Sukunimi (Muu)
          </p>
        </div>

        <div id="modal_pending">
          <div class="bg-luonnos py-2 px-8 text-primary-50 font-bold text-xl flex justify-between">
            <p>Odottaa</p>
            <p>#</p>
          </div>
          <p class="py-4 px-8">
            Järkkä Työmies (Järkkä) | Etunimi Sukunimi (Järkkä) | Toinen Esimerkki (Saatto) | Monta Esimerkkiä (Saatto)
            | Saku Karttunen (Muu)
          </p>
        </div>

      </div>
    </div>
    <div class="bg-primary flex justify-center items-start py-8 px-6">
      <button id="modal_close">
        <img src="~/images/close.svg" alt="sulje-nappi" width="40" height="40" draggable="false" loading="lazy"
          decoding="async" />
      </button>
    </div>
  </div>
  <div class="w-full h-full absolute top-0 left-0 bg-neutral-950 opacity-50 z-40"></div>
</section>
