@model List<workorder.Models.WorkOrderViewModel>

@{
ViewData["Title"] = "Work Order page";
}

@section Scripts {
<script>
  const preloadColors = ["bg-luonnos", "bg-hylatty", "bg-laskutettu", "bg-odottaa", "bg-kuitattu"];
</script>
}

<section class="space-y-6 py-20">
  @foreach (var workOrder in Model)
  {
  <partial name="_WorkOrder" model="workOrder" />
  }
</section>
